VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_PADALASPLIT_VAULT_CONTRACT_ID=
